<script src="register.component.ts"></script>
<div class="flex flex-row justify-center mt-16">
  <div
    class="w-full w-sm max-w-sm bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <h2
        class="text-xl font-medium text-gray-900 md:text-2xl dark:text-white">
        Jetzt beitreten!
      </h2>
      <form class="space-y-4 md:space-y-6" [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <div>
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Teamname</label
          >
          <input
            type="text"
            name="name"
            formControlName="name"
            id="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-200 dark:focus:border-primary-500"
            placeholder="Ruhrpott Coal Titans"
            required="" />
        </div>
        <div>
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Passwort</label
          >
          <input
            type="password"
            name="password"
            formControlName="password"
            id="password"
            placeholder="••••••••"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-200 dark:focus:border-primary-500"
            required="" />
        </div>
        <div>
          <label
            for="confirmPassword"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Passwort wiederholen</label
          >
          <input
            type="password"
            name="confirmPassword"
            formControlName="confirmPassword"
            id="confirmPassword"
            placeholder="••••••••"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-200 dark:focus:border-primary-500"
            required="" />
        </div>
        <button
          type="submit"
          class="w-full text-white bg-primary-400 hover:bg-primary-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-400 dark:hover:bg-primary-300 dark:focus:ring-blue-800">
          Team erstellen
        </button>
        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
          Doch schon dabei?
          <a
            href="/login"
            class="font-medium text-primary-400 hover:underline dark:text-primary-300"
            >Zum Login</a
          >
        </p>
      </form>
    </div>
  </div>
</div>
