<h1 class="text-xl font-semibold text-center mt-4 mb-8">Leaderboard</h1>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3 w-2">Pl.</th>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3 w-4">SP</th>
        <th scope="col" class="px-6 py-3 w-4">S</th>
        <th scope="col" class="px-6 py-3 w-4">N</th>
        <th scope="col" class="px-6 py-3 w-4">Tore</th>
        <th scope="col" class="px-6 py-3 w-4">Diff</th>
        <th scope="col" class="px-6 py-3 w-4">Punkte</th>
      </tr>
    </thead>
    <tbody>
      @for (player of dataService.players; track $index) {
        <tr
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <th
            scope="row"
            class="px-6 py-4"
            [ngClass]="{
              'border-l-4': $index < 3,
              'border-l-gold': $index === 0,
              'border-l-silver': $index === 1,
              'border-l-bronze': $index === 2,
            }">
            {{ $index + 1 }}
          </th>
          <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white flex items-center gap-2">
            <img src="img/logo.png" class="h-8 w-8">
            {{ player.name }}
          </td>
          <td class="px-6 py-4">{{ player.games.length }}</td>
          <td class="px-6 py-4">{{ player.won }}</td>
          <td class="px-6 py-4">{{ player.lost }}</td>
          <td class="px-6 py-4">{{ getGoals(player) }}</td>
          <td class="px-6 py-4">{{ getGoalDifference(player) }}</td>
          <td class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">{{ player.scores.billo }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
